<body>
<div class="row">

  <tbody>
    <div *ngFor="let items of currentCart">
        <p><strong>
        {{ items.movie.name }}
      </strong></p>

      <p>antal <button (click)="addSingleMovieToCart(items.movie)">+</button>
        <button (click)="subtractMovie(items.movie.id)">-</button> {{ items.quantity }} st à {{ items.movie.price }} kr
      </p>
      <p> total <strong>{{ items.totalSum }}</strong> kr
      </p>
      <button (click)="deleteFromCart(items.movie.id)">ta bort</button>
      <hr>
    </div>
    <p>
      Total <strong>{{ totalPrice  }} </strong> kr
    </p>
  </tbody>
</div>

<form class="form" [formGroup]="userInfo" (ngSubmit)="createOrder()">
  <label for="userName">Namn</label>
  <input type="text" id="userName" formControlName="userName" required minlength="4"/>
  <br>
  <label for="userEmail">E-mail</label>
  <input type="email" name="" id="userEmail" formControlName="userEmail">
  <br>
  <label for="paymentType">Betalning</label>
  <select name="paymentType" id="paymentType" formControlName="paymentType">
    <option value="credit card">Credit Card</option>
    <option value="payPal">PayPal</option>
    <option value="klarna">Klarna</option>
  </select>
  <br>
  <button type="submit" [disabled]="!userInfo.valid">Skicka order</button>
</form>
</body>