<body>
<div class="row">

    <div class="items" *ngFor="let items of currentCart">
        <div class="movieTitle"><strong>
        {{ items.movie.name }}
      </strong></div>
      <p><strong class="orangeText">{{ items.quantity }}</strong> à <strong class="orangeText">{{ items.movie.price }}</strong> kr
        <button (click)="addMovieToCart(items.movie)">+</button>
        <button (click)="subtractMovieFromCart(items.movie.id)">-</button></p>
      <p> totalt <strong class="orangeText">{{ items.totalSum }}</strong> kr
      </p>
      <button class="delete" (click)="deleteFromCart(items.movie.id)">ta bort</button>
      <hr>
    </div>
</div>
<br>
<h2 class="sum">Summa <strong>{{ totalPrice }} </strong> kr</h2>
<br>

<form class="form" [formGroup]="userInfo" (ngSubmit)="postOrder()">
  <label for="userName">Namn</label>
  <input type="text" id="userName" formControlName="userName" required minlength="4"/>
  <br>
  <label for="userEmail">E-mail</label>
  <input type="email" name="" id="userEmail" formControlName="userEmail">
  <br>
  <label for="paymentType">Betalning</label>
  <select name="paymentType" id="paymentType" formControlName="paymentType">
    <option value="credit card">Credit Card</option>
    <option value="payPal">PayPal</option>
    <option value="klarna">Klarna</option>
  </select>
  <br>
  <button type="submit" [disabled]="!userInfo.valid">Skicka order</button>
</form>
</body>