body {
margin-top: 100px;
margin-bottom: 100px;
}

.row {
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
    max-width: 200px;
}

.form {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: left; /* Safari 6.1+ */
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 200px;
    margin-left: 10px;
    
}
