<header>
  <h1>
    <a routerLink="/">Online Movie Shop</a>
    <base>
  </h1>
  <a routerLink="/admin">Admin</a>
  <!--<app-search></app-search>-->
  <nav>
    <ul>
      <li>
          <input #movieSearch />
  <button id="search" (click)="search(movieSearch.value)">
      click
  </button>
      </li>
      <li>
        <button id="toggleCartButton" (click)="toggleCart()"><i class="fas fa-shopping-cart"></i></button>
      </li>
    </ul>
  </nav>
  <div id="cart">
   <!-- <app-show-cart></app-show-cart>-->
  </div>
  
</header>
<div id="searchResult" *ngIf="show">
  <button id="closeSearch" (click)="closeSearch()">X</button>
  <br>
  <div *ngFor="let item of movies" id="searchItem">
    <p>{{ item.name }}</p>
    <img src="{{ item.imageUrl }}" width="300px">
    <p>{{ item.description }}</p>
    <p>{{ item.price }} :-
      <button (click)="addMovieToCart(item)">Add to cart</button>
      
    </p>
    <hr>
  </div>
</div>