<header id="mainHeader">
  <h1>
    <a routerLink="/">Online Movie Shop</a>
    <base>
  </h1>
  <a routerLink="/admin">Admin</a>
  <!--<app-search></app-search>-->
  <nav>
    <ul>
      <li>
          <input #movieSearch type="text" min="4" pattern=".{5,10}" required title="5 to 10 characters" />
  <button id="search" (click)="search(movieSearch.value)">
      click
  </button>
      </li>
      <li id="toggleCartButton">
        <button (click)="toggleCart()">ShoppingCart</button>
        
    </ul>
  </nav>
  <div id="cart">
   <!-- <app-show-cart></app-show-cart>-->
  </div>
  
</header>
<div id="searchResult" *ngIf="show">
  <div class="sticky">
    <button id="closeSearch" (click)="closeSearch()">X</button>
  </div>
  <br>
  <div *ngFor="let movie of movies" id="searchItem" (click)="redirectToDetails(movie.id)">
    <img src="{{ movie.imageUrl }}" width="300px">
    <p>{{ movie.name }}</p>
    <p>{{ movie.price }} :-</p>
    <hr>
  </div>
</div>