<header id="mainHeader">
  <nav>
    <h1>Online Movie Shop</h1>
    <a class="group1" routerLink="/">Hem </a>
    <a class="group1" routerLink="/admin">Admin </a>
    <input #movieSearch type="text" placeholder="Sök efter filmer"/>
    <button id="search" (click)="search(movieSearch.value)">sök</button>
    <button class="group2" (click)="cartDropDown()">Kundkorg</button>

    <div *ngIf="showShoppingCart" class="dropDownCart">
        <button (click)="goToShoppingCart()" class="item">Checkout</button>
        <div>Summa: <strong class="orangeText">{{totalSum}}:-</strong><br>'a <strong class="orangeText">{{totalAmount}}</strong> filmer</div>
        <hr>
        <div *ngFor="let singleMovie of currentCart">
          <p class="movieTitle"> {{singleMovie.movie.name}}</p>
          <p>antal a' <strong class="orangeText">{{singleMovie.movie.price}}:-<br />
            <button class="plusMinus" (click)="addMovieToCart(singleMovie.movie)"> + </button> {{singleMovie.quantity}} </strong>  <button class="plusMinus" (click)="subtractMovieFromCart(singleMovie.movie.id)">-
          </button> </p>
          <p>Totalt <strong class="orangeText">{{singleMovie.totalSum}}:-</strong></p>
          <hr>

        </div>
      </div>
  </nav>
  

  
</header>
<div id="searchResult" *ngIf="show">
  <div class="sticky">
    <button id="closeSearch" (click)="closeSearch()">X</button>
  </div>
  <br>
  <div *ngFor="let movie of movies" id="searchItem">
    <img src="{{ movie.imageUrl }}" width="300px" (click)="redirectToDetails(movie.id)">
    <p>{{ movie.name }}</p>
    <p>{{ movie.price }} :-</p>
    <button (click)="addMovieToCart(movie)">Lägg till</button>
    <hr size="30">
  </div>
</div>