:host {
  background-color: rgb(233, 233, 233);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  }

nav {
    box-shadow: 0px 10px 10px #888888;
    
  }
  
ul {
  display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7cdb00;
    align-items: flex-start;
  }

  li {
      display: inline;
      zoom: 1;
      margin: auto;
  }

  li:last-child {
    margin-right: auto;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  .searchBar {
    
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 0px 10px;
    margin: 8px 0;
    background-color: #7cdb00;
    border: none;
    border-bottom: 2px solid black;
  }

  form {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;
}

label, input {
  display: block; /* 1. oh noes, my inputs are styled as block... */
}