:host {
  background-color: rgb(233, 233, 233);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

nav {
    box-shadow: 0px 10px 10px #888888;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7cdb00;
  }

  li {
      display: inline-block;
      zoom: 1;
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }