ul{
    list-style: none;
    border: rgb(211, 10, 167) 1px solid;
}

li, a{
    font-family: Geo;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(33, 228, 111);
    text-decoration-line: underline;
}

img{
    height: 250px;
    margin: 10%;
}