<body class="bod">
<div class= "container">
  <a [routerLink]="['']">back</a>
  <h3>
    {{ movie.name }}
  </h3>

  <div class="movieContainer">
  <img [src]="movie.imageUrl">
  </div>
  <br>
  <p>{{ movie.description }}</p>

  <div class="text-center">
    {{ movie.price }}:-
    <label for="amount" class="item"></label>
    <input type="hidden" id="amount" value= "1" #amount class="item" min='1' max='1' />
    <button class="item" (click)="addMovieToCart(movie)">Lägg till</button>
    <button (click)="goToShoppingCart()" class="item">Checkout</button>
  </div>
</div>
</body>